#logo {
    width: 150px;
}

.main {
    display: flex;
    height: 30px;
    margin-top: 15px;
}

.child1 {
    gap: 25px;
}

.child1 a{
    color: #3D4f60;
}

.child2 {
    gap: 10px;
}

a {
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}

.button {
    margin-top: -10px;
    border-radius: 15px;
    height: 55px;
    padding: 20px;
    cursor: pointer;
    border: 1px solid black;
}

.mother {
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 23px 0;
    z-index: 1;
    
}

.b1 {
    background-color: white;
    color: #0C1825;
    font-weight: 600px;
}

.b2 {
    background-color: #0C1825;
    color: white;
}

.center-div {
    justify-content: center;
    margin-top: 70px;
}

.content {
    text-align: center;
    justify-content: center;
    line-height: 8px;
}

.content p {
    font-weight: bolder;
    font-size: 47px;
    color: #122231;
}

.content span {
    font-size: 23px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 25px;
    justify-content: center;
    background-color: #f2f7f8;
}

.card {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 15px 30px 0px 30px;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}



p {
    font-size: 30px;
    font-weight: bolder;
    color: #003399;
}

.body {
    font-family: plus jakarta sans, sans-serif;
    background-color: #f2f7f8;
}

.arrow{
    height: 24px;
    width: 24px;
}

.done1:hover {
    background-color: #0f60d6;
}

.done1 p, .text1{
    color: #0f60d6;
}

.done2:hover{
    background-color: #2295F2;
}

.done3:hover{
    background-color: #39C076;
}

.done2 p, .text2{
    color: #2295F2;
}
.done3 p, .text3{
    color: #39C076;
}

.card:hover p, .card:hover .text1, .card:hover .text2, .card:hover .text3, .card:hover .text4, .card:hover .text5, .card:hover .text6, .card:hover .subtext
{
    color: white;
}

.done4:hover{
    background-color: #E5489B;
}

.done4 p, .text4{
    color: #E5489B;
}

.done5:hover{
    background-color: #0C1825;
}

.done5 p, .text5{
    color: #0C1825;
}


.done6:hover{
    background-color: #FF783C;
}

.done6 p, .text6{
    color: #FF783C;
}

.card:hover .arrow{
    display: block;
}

.arrow{
    width: 24px;
    height: 24px;
}

.parrow{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card:hover .arrow{
    content: url(./image/subdirectory_arrow_right_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png);
}

.link1{
    display: flex;
    gap: 10px;
    font-weight: normal;
    text-decoration: none;
}

.subtext{
    color: black;
}

.twins{
    margin-top: 170px;
    display: flex;
}

.phone{
    display: none;
}

.card:hover .phone{
    display: block;
}

.herobutton{
    border: none;
    border-radius: 15px;
    background-color: #2295F2;
    color: white;
    font-weight: 600;
    padding: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.hero{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.herobutton:hover{
    background-color: black;
}

.herobutton:hover .btnimage{
    content: url(./image/chevron_right_24dp_00D7EA_FILL0_wght400_GRAD0_opsz24.png);
}

.herobutton:hover .save{
    content: url(./image/save_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png);
}

.betterway{
    font-size: 48px;
    font-weight: bold;
    color: #122231;
}

.herotext{
    font-size: 20px;
    color: gray;
    font-weight: normal;
    line-height: 30px;
}

.herobuttons{
    display: flex;
    gap: 15px;
}

.herobuttons button{
    border: none;
    background-color: #122231;
    color: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.section1{
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionbackground{
    width: 480px;
    height: 480px;
    background-image: url(./image/image_fx.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    position: relative;
}

.sectionimg1{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 50px;
    position: absolute;
    left: -70px;
}

.sectionimg2{
    display: flex;
    flex-direction: column;
    gap: 140px;
    margin-top: 15px;
    position: absolute;
    right: -80px;
}